
/Netbeans/Proj2/src/META-INF
/Netbeans/Proj2/nbproject

Netbeans/Proj2/src/META-INF/persistence.xml

Netbeans/Proj2/nbproject/private/

*.properties

Netbeans/Proj2UI/nbproject/private/

Netbeans/Proj2UI/nbproject/

Netbeans/Proj2/nbproject/
